body{
    background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}

button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

button:hover{
    cursor: pointer;
}

.calculator{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(50%, -50%);
    height: 600px;
    width: 346px;
    border: 5px solid black;
    overflow: hidden;
}

.orange{
    background-color: #FF9500;
    color: white;
}

.gray{
    background-color: #505050;
    color: white;
}
.result{
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    font-size:3.5em;
}